.nav{
  background-color: $nav-background;

  .nav-ul{
    position:relative;
    background-color: $nav-background;
  }

  .nav-link{
    color: $primary-color;
    cursor: pointer;
    display:block;
    text-align: center;
    padding: $nav-link-padding;

    &.active{
      background-color: $nav-active-backgrond;
      color: $nav-active-color;
    }

    &.active:hover{
      background-color: $nav-active-backgrond;
      color: $nav-active-color;
    }
  }

  .nav-link:hover{
    background-color: $nav-hover-background;
    color: $nav-hover-color;
  }

  @media (min-width: 1200px) {
    .nav-ul{
      position: fixed;
      left: 0px;
      top: 0px;
      width: $nav-side-width;
      height: 100%;
    }
  }

  @media (max-width: 1199px) and (min-width: 768px) {
    .nav-ul{
      overflow: hidden;
    }

    .nav-li.right{
      float:right;
    }

    .nav-li{
      float:left;
    }

    .nav-li:last-child:after{
      content: '';
      clear:both;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
    height: $nav-icon-length;

    .nav-ul{
      overflow: hidden;
      transition: transform 0.3s;
      transform: translateY(-100%);

      &.open{
        transform: translateY(0%);
      }
    }

    .nav-link{
      padding: $nav-link-padding-mobile;
    }

    .menu-icon{
      position: absolute;
      top: 0px;
      right: 0px;
      height:$nav-icon-length;
      width: $nav-icon-length;
    }
  }
}
