$font-family: Helvetica, sans-serif;
$primary-color: #333;

$nav-side-width: 200px;
$nav-link-padding: 25px;
$nav-active-backgrond: #777;
$nav-active-color: #fff;
$nav-background: #f1f1f1;
$nav-hover-background:#555;
$nav-hover-color:#fff;
$nav-icon-length: 15vh;
$nav-link-padding-mobile: 5vh;

$article-title-color: #666;